{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
        }
    },
    "rules": {
        "eqeqeq": "warn",
        "semi": "error"
    },
    "env": {
        "browser": true,
        "node": false
    }
}